<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">

      <h2 class="text-center">Login as Admin</h2>
      {{#if loginError}}
       <p class="text-danger text-center">invalid admin details</p>
       {{/if}}
      <form action="/admin/login" method="post">
        <div class="form-group">
          <label>Enter Name</label>
          <input type="text" class="form-control" name="Name" placeholder="name" />
        </div>
        <div class="form-group">
          <label>Enter Email address</label>
          <input type="email" class="form-control" name="Email" placeholder="email" />
        </div>

        <div class="form-group">
          <label>Enter Password</label>
          <input type="password" class="form-control" name="Password" placeholder="password" />
        </div>
        
        <button type="submit" class="btn btn-primary " id="login-btn">Login</button>

      </form>
    </div>
  </div>
</div>

<style>
    #login-btn{
        display: flex;
        justify-content: center;
        color: black;
        margin-left: 13rem;
        width: 10rem;
        font-size: 25px;
    }
</style>